<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Levels</key>
	<array>
		<array>
			<dict>
				<key>transform</key>
				<false/>
				<key>gem</key>
				<integer>3</integer>
				<key>bonus</key>
				<integer>1000</integer>
				<key>target</key>
				<integer>500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>gem</key>
				<integer>3</integer>
				<key>bonus</key>
				<integer>2000</integer>
				<key>target</key>
				<integer>1000</integer>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<integer>3000</integer>
				<key>target</key>
				<integer>1500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<integer>4000</integer>
				<key>target</key>
				<integer>2000</integer>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<integer>5000</integer>
				<key>target</key>
				<integer>2500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<integer>6000</integer>
				<key>target</key>
				<integer>3000</integer>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<integer>7000</integer>
				<key>target</key>
				<integer>3500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<integer>8000</integer>
				<key>target</key>
				<integer>4000</integer>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<integer>9000</integer>
				<key>target</key>
				<integer>4500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<integer>10000</integer>
				<key>target</key>
				<integer>5000</integer>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>gem</key>
				<integer>4</integer>
				<key>bonus</key>
				<real>11</real>
				<key>target</key>
				<real>5</real>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>bonus</key>
				<real>12</real>
				<key>target</key>
				<real>6</real>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>bonus</key>
				<real>13</real>
				<key>target</key>
				<integer>6500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>bonus</key>
				<integer>14000</integer>
				<key>target</key>
				<integer>7000</integer>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>bonus</key>
				<integer>15000</integer>
				<key>target</key>
				<integer>7500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>bonus</key>
				<integer>16000</integer>
				<key>target</key>
				<integer>8000</integer>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>bonus</key>
				<integer>17000</integer>
				<key>target</key>
				<integer>8500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>bonus</key>
				<integer>18000</integer>
				<key>target</key>
				<integer>9000</integer>
			</dict>
			<dict>
				<key>transform</key>
				<false/>
				<key>bonus</key>
				<integer>19000</integer>
				<key>target</key>
				<integer>9500</integer>
			</dict>
			<dict>
				<key>transform</key>
				<true/>
				<key>bonus</key>
				<real>20</real>
				<key>target</key>
				<integer>10000</integer>
			</dict>
		</array>
		<array>
			<dict>
				<key>SpawnLevelIntro</key>
				<true/>
				<key>SText</key>
				<string>WARNING!</string>
				<key>TText</key>
				<string></string>
				<key>LText</key>
				<string>DESTROY ENEMY SHIP</string>
				<key>Duration</key>
				<integer>-1</integer>
				<key>SpawnBigTurret</key>
				<true/>
			</dict>
		</array>
	</array>
</dict>
</plist>
